/* Created by Maxim Sarandev, custom style related to bootstrap's CSS */
/* Copyright 2018 */


@import url('https://fonts.googleapis.com/css?family=Cabin|Niconne');

html, body{
    height: 90%;
}

body{
    background: #000 url("resources/bck.jpg") no-repeat;
    background-size: cover;
    color: #fff;
    font-family: Cabin, "Times New Roman", Times, serif;
    overflow: hidden;
}

h1{
    font-family: Niconne, "Times New Roman", Times, serif;
}

.footer {
    text-align: center;
    position: absolute;
    width: inherit;
    bottom: 0;
    background-color: #000;
}


/* Control the canvas appearance */
#main_plot{
    background-color: #000;
    width: 100%;
    border: 1px solid black;
}

/* Control the character display appearance */
#char_container{
    height: 300px;
    border: 1px solid rgba(255,255,255,0.3);
    background-color: rgba(255,255,255,0.2);
}

/* Control the item socket display */
.i_sock{
    width: 100px;
    height: 100px;
    border: 1px solid rgba(255,255,255,0.3);
    background-color: rgba(0,0,0,0.5);
}

/* Control the stats display */
#stats_container{
    height: 50%;
    border: 1px solid rgba(255,255,255,0.3);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(0,0,0,0.5);
}

/* Control the rankings display */
#ranking_container{
    height: 50%;
    border: 1px solid rgba(255,255,255,0.3);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgba(0,0,0,0.5);
}

#ranking_list{
    color: #000;
    height: 350px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.list-group-item{
    width: 100%;
}

/*Control the character name appearance*/
#character_name{
    font-family: Niconne, "Times New Roman", Times, serif;
    font-size: 35px;
}

/* Control the modal appearance */
#player_died_modal{
    color: #fff;
    font-family: Cabin, "Times New Roman", Times, serif;
}
#player_died_modal_title{
    font-family: Niconne, "Times New Roman", Times, serif;
}
#player_died_modal_content{
    background-color: #000;
}

/* Control modal appearance (2) */
#try_again_modal{
    color: #fff;
    font-family: Cabin, "Times New Roman", Times, serif;
}
#try_again_modal_title{
    font-family: Niconne, "Times New Roman", Times, serif;
}
#try_again_modal_content{
    background-color: #000;
}

/* Death modal style */
#lore_modal, #alert_modal{
    color: #fff;
    font-family: Cabin, "Times New Roman", Times, serif;
}
#lore_modal_title, #alert_modal_title{
    font-family: Niconne, "Times New Roman", Times, serif;
}
#lore_modal_content, #alert_modal_content{
    background-color: #000;
}
#player_name_txt{
    width: 100%;
}
/* Scrollbars */
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Controls the XP bar design */
#xp_bar_container{
    background-color: rgba(0,0,0,0.5);
}

/* New item modal style */
#new_item_modal{
    color: #fff;
    font-family: Cabin, "Times New Roman", Times, serif;
}
#new_item_modal_title{
    font-family: Niconne, "Times New Roman", Times, serif;
}
#new_item_modal_content{
    background-color: #000;
}